<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "es">
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		<!-- ESTILOS CSS -->
		<link th:href="@{/public/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/public/css/generico.css}" rel="stylesheet"/>
		
		<!-- SCRIPTS JS -->
		
		
	</head>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  	<a class="navbar-brand" href="/" th:text="#{app.nombre}"></a>
		  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div class="collapse navbar-collapse">
			    <div class="navbar-nav">
			      	<a class="nav-link" href="/" th:text="#{header.inicio}"></a>
			        <a class="nav-link" href="http://localhost:8080/h2-console/" th:text="#{header.consolaH2}" target="_blank"></a>
			    </div>
		  	</div>
		</nav>
	</header>
</html>