<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link type="text/css" th:href="@{/public/css/styles.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <sidebar>
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bx-menu' id="btn" ></i>
            </div>
            

            <div class="logo-profile">
                <img th:src="@{/public/perfil.png}" class="profile_image" alt="">
                    <h4 th:text="${usuario.username}"></h4>
                    <h5>Administrador</h5>
            </div>

            <ul class="nav-list">
            <li>
                <a href="/dashboard">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="/cursos">
                <i class='bx bx-user-pin'></i>
                <span class="links_name">Cursos</span>
                </a>
                <span class="tooltip">Cursos</span>
            </li>
            <li>
            <a th:href="@{/mis-cursos(idUsuario=${session.usuario.idUsuario})}">
                <i class='bx bx-user' ></i>
                <span class="links_name">Mis cursos</span>
            </a>
            <span class="tooltip">Mis cursos</span>
            </li>
            <li>
            <a href="/perfil">
                <i class='bx bx-cog' ></i>
                <span class="links_name">Perfil</span>
            </a>
            <span class="tooltip">Perfil</span>
            </li>
            <li class="profile">
                <a href="/logout">
                    <i class='bx bx-log-out' ></i>
                    <span class="links_name">Cerrar sesión</span>
                </a>
            </li>
            </ul>
        </div>
    </sidebarZ>
</body>
</html>
