<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link type="text/css" th:href="@{/public/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/public/css/styles.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  
  <sidebar th:insert="generico/sidebar.html :: sidebar"></sidebar>

  <div class="home-section" id="cursos">

      <div class="head-title">
        <div class="left">
            <h1>Cursos</h1>
        </div>
        <button class="bn3637 bn37 main_btn create_btn">
            <i class='bx bx-plus-circle'></i> 
            <span>&nbsp Añadir curso</span>
        </button>
    </div>
    
    <div class="wrapper">      
        <div class="popup_wrap">
          <div class="shadow close_btn"></div>
          <div class="popup">
            <div class="header">
              <div class="title">Añadir curso</div>
              <span class="icon close_btn">
                <ion-icon name="close-outline" class="i"></ion-icon>
              </span>
            </div>
            <div class="container">
              <div class="body">

                <div id="dragger_wrapper">
                  <div id="dragger">
                      <div class="icon"><i class="fa-solid fa-images"></i></div>
                      <h5 id="drag-text">Arrastra y suelta la imagen <br></h5>
                      <h5>o</h5>
                      <button class="browseFile" id="browseFile">navega</button> <input type="file" hidden id="fileInputField" />
                  </div>
                  <div id="fileName"> </div>
              </div>
              <script type="text/javascript" th:src="@{/public/js/index.js}"></script>

                <div class="popup_name_wrap">
                  <p class="label_title">
                    Nombre curso
                  </p>
                  <input type="text" class="input_text" placeholder="Introduce el nombre completo">
                </div>  
                <div class="popup_name_wrap">
                    <p class="label_title">
                    Enlace
                    </p>
                    <input type="text" class="input_text" placeholder="Introduce el enlace al curso">
                </div>   
                <div class="popup_name_wrap">
                    <p class="label_title">
                    Breve descripción
                    </p>
                    <input type="text" class="input_text" placeholder="Introduce una breve descripción">
                </div> 
              </div>
              <div class="footer">
                <div class="btn_wrap">
                  <button class="cancel_btn close_btn">
                    Cancelar
                  </button>
                  <button class="create_btn">
                    Añadir profesor
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div>
        <div class="users" th:each="cursos : ${tablaCursos}">
          <div class="card" th:each="curso : ${cursos.cursos}">
            <div class="icons-card">
              <i class="fa fa-pen-to-square fa-lg"></i>
              <i class="fa fa-trash-can fa-lg"></i>
            </div>
            <img th:src="perfil.png">
            <h4 th:text="${curso.titulo}"></h4>
            <p th:text="${curso.descripcion}"></p>
            <div class="per">
              <table>
                <tr>
                  <td>Personas inscritas</td>
                </tr>
                <tr>
                  <td><span th:text="${curso.personasInscritas}"></span></td>
                </tr>
              </table>
            </div>
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
            <button>Empezar curso</button>
          </div>   
        </div>
      </div>
    </div>



  <script>

  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();
  });

  searchBtn.addEventListener("click", ()=>{ 
    sidebar.classList.toggle("open");
    menuBtnChange(); 
  });

    function menuBtnChange() {
    if(sidebar.classList.contains("open")){
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    }else {
        closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
    }
    }


    const indicators = document.querySelectorAll('a');
   
    indicators.forEach((indicator) => {
    indicator.addEventListener('click', function () {
    });
    });

    const sections = document.querySelectorAll("section");

    const onSectionLeavesViewport = (section) => {
    const observer = new IntersectionObserver(
        (entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
            const element = entry.target;
            const indicator = document.querySelector(`a[href='#${element.id}']`);
            return;
            }
        
        });
        },
        {
        root: null,
        rootMargin: "0px",
        threshold: 0.75,
        }
    );
    observer.observe(section);
    };

  </script>

   <script type="text/javascript">
        var main_btn = document.querySelector(".main_btn");
        var wrapper = document.querySelector(".wrapper");
        var close_btns = document.querySelectorAll(".close_btn");
        
        main_btn.addEventListener("click", function () {
        wrapper.classList.add("active");
        });
        
        close_btns.forEach(function (btn) {
        btn.addEventListener("click", function () {
            wrapper.classList.remove("active");
        });
        });
        

    </script> 

</body>
</html>
