<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link type="text/css" th:href="@{/public/css/style.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/public/css/styles.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  
  <sidebar th:insert="generico/sidebar.html :: sidebar"></sidebar>

  <div class="home-section" id="usuarios">
    <div class="text">Usuario</div>
    <div class="text">Mis cursos</div>
    <card th:insert="generico/card.html :: card"></card>
  </div>


  
  <script>

  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();
  });

  searchBtn.addEventListener("click", ()=>{ 
    sidebar.classList.toggle("open");
    menuBtnChange(); 
  });

    function menuBtnChange() {
    if(sidebar.classList.contains("open")){
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    }else {
        closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
    }
    }


    const indicators = document.querySelectorAll('a');
   
    indicators.forEach((indicator) => {
    indicator.addEventListener('click', function () {
    });
    });

    const sections = document.querySelectorAll("section");

    const onSectionLeavesViewport = (section) => {
    const observer = new IntersectionObserver(
        (entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
            const element = entry.target;
            const indicator = document.querySelector(`a[href='#${element.id}']`);
            return;
            }
        
        });
        },
        {
        root: null,
        rootMargin: "0px",
        threshold: 0.75,
        }
    );
    observer.observe(section);
    };

  </script>

   <script type="text/javascript">
        var main_btn = document.querySelector(".main_btn");
        var wrapper = document.querySelector(".wrapper");
        var close_btns = document.querySelectorAll(".close_btn");
        
        main_btn.addEventListener("click", function () {
        wrapper.classList.add("active");
        });
        
        close_btns.forEach(function (btn) {
        btn.addEventListener("click", function () {
            wrapper.classList.remove("active");
        });
        });
        

    </script> 

</body>
</html>
